.bar-list {
  display: flex;
}

.bar {
  background-color: #48d8e0;
  border: 1px solid lavender;
  width: 0.5em;
  text-align: center;
  vertical-align: middle;
}

.bar.current {
  background-color: magenta;
}

.bar.sorted {
  background-color: lawngreen;
}

.commands {
  position: absolute;
  bottom: 0em;
  background-color: indigo;
  display: flex;
  padding: 3em 0em;
  width: 100%;
}

.command-button {
  background-color: white;
  padding: 1em 0.7em;
  margin: 0.5em 2em;
  color: indigo;
  border: 1px solid white;
}

.slider {
  margin: 0em 1em;
}
