.bar-list {
  display: flex;
}

.bar {
  background-color: #48d8e0;
  border: 1px solid lavender;
  width: 0.5em;
  text-align: center;
  vertical-align: middle;
}

.bar.current {
  background-color: magenta;
}

.bar.sorted {
  background-color: lawngreen;
}
